{% extends "@AnyContentBackend/anycontent-backend.html.twig" %}

{% block content %}

    <div class="row">

        {% if id is defined %}
        <h3>Record #{{ id }} not found!</h3>
        {% else %}
        <h3>Record not found!</h3>
        {% endif %}

        <br/>
        There's no version of this record in workspace <strong>{{ workspaces.currentName }}</strong> and language
        <strong>{{ languages.currentName }}</strong>.
        <br/>
        <br/>

        {% if links.addrecordversion is defined %}
        <a href="{{ links.addrecordversion }}" class="btn btn-primary">Create now</a>
        {% endif %}


    </div>

    {% block buttons %}
        <div class="row">
            <hr/>
            {{ buttons | raw }}
        </div>
    {% endblock %}

{% endblock %}